  .card{
      max-width: 420px;
    }
  .option-item{
      padding: 1rem;
      max-width: 150px;
      margin-left:30px;
      margin-top:20px;
      border: 1px solid #dee2e6;
      text-decoration: none;
    }
  .option-item:hover{
      color: #fff;
      background-color: #007bff;
    font-weight: 700;  
    }
  .selected-option{
      color: #fff;
      background-color: green;
    }
    
  