<!-- <h1>{{quizService.questionProgress+1}}</h1> -->
<h1 class="text-center mt-4">Time {{quizService.displayTimer()}}</h1>

<div *ngIf="quizService.question" class="card mx-auto">
  
  <div class="card-header">
    <p class="m-0 d-flex justify-content-between">
      <span>
        <span>{{quizService.questionProgress+1}}.</span>{{quizService.question[quizService.questionProgress].qn}}</span>
      <span
        class="text-danger" *ngIf="quizService.question[this.quizService.questionProgress].answer==0 && errorMsg==true">*mandatory</span>
    </p>
  </div>

  <div class="card-body">
    <div class="row text-center" *ngFor="let option of quizService.question[quizService.questionProgress].options;let i=index">
      <a class="col-6 option-item" href="javascript:void(0);" (click)="answer(quizService.question[quizService.questionProgress].qnId,1)"
        [ngClass]="{'selected-option':quizService.question[this.quizService.questionProgress].answer==1}">a) {{option.option1}}</a>
      <a class="col-6 option-item" href="javascript:void(0);" (click)="answer(quizService.question[quizService.questionProgress].qnId,2)"
        [ngClass]="{'selected-option':quizService.question[this.quizService.questionProgress].answer==2}">b) {{option.option2}}</a>
      <a class="col-6 option-item" href="javascript:void(0);" (click)="answer(quizService.question[quizService.questionProgress].qnId,3)"
        [ngClass]="{'selected-option':quizService.question[this.quizService.questionProgress].answer==3}">c) {{option.option3}}</a>
      <a class="col-6 option-item" href="javascript:void(0);" (click)="answer(quizService.question[quizService.questionProgress].qnId,4)"
        [ngClass]="{'selected-option':quizService.question[this.quizService.questionProgress].answer==4}">d) {{option.option4}}</a>
    </div>
  </div>

  <div class="card-footer text-muted">
    <button type="button" class="btn btn-outline-primary" (click)="previous()" *ngIf="this.quizService.questionProgress>=1">Prev</button>
    <button type="button" class="btn btn-outline-primary float-right" (click)="next()" *ngIf="this.quizService.questionProgress != 9">Next</button>
    <button type="button" class="btn btn-outline-primary float-right" (click)="onSubmit()" *ngIf="this.quizService.questionProgress==9">Submit</button>
  </div>

</div>