<div class="container d-flex justify-content-center align-items-center">
  <div class="card w-100">
    <div class="card-header">
      <h1 class="text-center">Welcome To Darwinbox</h1>
    </div>
    <div class="card-body">
      <h4>Instructions:</h4>
      <ul>
        <li>
          You have a questions list with four options.You have to select any one option.
        </li>
        <li>
          All the questions are mandatory to answer.
        </li>
        <li>
          You have prev and next button to navigate every question.
        </li>
        <li>
          You can skip a question for later.
        </li>
        <li>
          At the end of all the questions you will get a submit button.
        </li>
        <li>
          Once the form is submitted,One report will be generated.
        </li>
        <li>
          You can change your answer any number of time before submitting.
        </li>
        <li>
          There is a time limit of <strong>2 Minutes</strong> to answer all question.If you are fails to answer all the question,than form will be auto-submitted
          followed by showing the report.
        </li>
      </ul>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/question']">Start</button>
    </div>
  </div>
</div>