<!-- <h1>{{quizService.correctAnswerCount}}/4</h1> -->
<section class="container position-relative">
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-sm-right mr-sm-4 correct-answer-text position-relative">
            <span>Wrong Answers {{wrong}} %</span>
        </div>
        <div class="">
            <div class="score-circle mx-auto overflow-hidden position-relative rounded-circle mt-5">
                <div class="wrong-answers" [style.width.%]=wrong></div>
                <div class="correct-answers" [style.width.%]=correct></div>
            </div>
        </div>
        <div class="ml-sm-4 text-right text-sm-left wrong-answer-text position-relative">
            <span>Correct Answers {{correct}} %</span>
        </div>
    </div>
</section>
<!-- <h2>Correct Answer: {{quizService.correctAnswerCount}}</h2>
<h2>Wrong   Answer: {{10-quizService.correctAnswerCount}}</h2> -->