  .score-circle{
    width: 300px;
    height: 300px;
  }
  .correct-answers,
  .wrong-answers{
    position: absolute;
    height: 100%;
  }
  .wrong-answers{
    background: red;
    left: 0;
  }
  .correct-answers{
    background: green;
    right: 0;
  }
  .correct-answer-text span:after{
    right: -29px;
  }
  .wrong-answer-text span:after,
  .correct-answer-text span:after{
    content: "";
    position: absolute;
    width: 200px;
    height: 5px;
    background: red;
    bottom: -6px;
  }

  .wrong-answer-text span:after{
    left: -24px;
    background: green;
    
  }

  @media(max-width:576px){
    .score-circle{
      width: 200px;
      height: 200px;
    }
    .wrong-answer-text span:after,
    .correct-answer-text span:after{
      display: none;
    }
  }